@import url('https://fonts.googleapis.com/css?family=Baloo+Bhai|Roboto+Slab:400,700&font-display:swap');

*{
    padding: 0;
    margin:0;
}

ul{
    list-style:none;
}

body{
    font-family: 'Roboto Slab', serif;
    font-size: 1.1rem;
    line-height: 1.3;
}

h1,h2,h3,h4,h5,h6{
    letter-spacing: -0.05em;
    font-family: 'Baloo Bhai', cursive;
}

h1{
    font-size:2.8rem;
}
h2{
    font-size:2.5rem;
}

a{
    color: #ff0050; 
    cursor: pointer;
}
a:hover,
a:focus,
a:active,
a:hover:active{
    color: #be003c;
}

.btn-primary{
    background-color: #ff0050;
    border-color: #ff0050;
    color: #fff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:hover:active{
    background-color: #be003c;
    border-color: #be003c;
}
.btn-white{
    background-color: #fff;
    border-color: #fff;
    color: #ff0050;
}
.btn-white:hover,
.btn-white:focus,
.btn-white:active,
.btn-white:hover:active{
    background-color: #be003c;
    border-color: #be003c;
    color: #fff;
}

header{
    padding:30px 0 0;
    border-bottom: 5px solid #ff0050;
}

.header-logo{
    display: inline-block;
    font-size:2rem;
    line-height: 1;
    padding:0 0 15px;
    letter-spacing: -0.05em;
    font-family: 'Baloo Bhai', cursive;
}
.sc-header-phone{
    display: flex;
    justify-content: center;
    margin: 0 0  15px;
}
.sc-header-right{
    display: flex;
    justify-content: center;
    margin:0 0 30px;
}
.header-nav{
    z-index: 10;
    background: #ff0050;
}
.header-nav nav {
    display: flex;
    flex-flow: column;
}
.header-nav nav > a {
    padding: 10px 0;
    text-align:center;
    color: #fff;
}
header.active .header-nav{
    left:0;
    opacity: 1;
}
header.active .header-nav-wrap{
    right:0;
}

.header-cta{
    display: flex;
    align-items:center;
    margin: 0 0 0 1em;
    height:100%;
}

@media (min-width:767px){
    header{
        border-color: #be003c;
    }
    .header-nav{
        padding:15px 0;
    }
    .header-nav > div{
        height:auto !important;
        display: block !important;
    }
    .header-nav nav {
        flex-flow: row;
        justify-content: center;
    }
    .header-nav nav > a{
        padding: 10px 10px;
    }
    .header-menu-toggle{
        display: none;
    }
}


.sc-banner{
    padding:50px 0;
    background: #ff0050;
    color: #fff;
}

.sc-banner.blue{
    background: #0077ff;
}

main{

}

.sc-land{
    background: #0077ff;
    color: #fff;
    padding:50px 0;
}


.sc-service-item{
    text-align: center;
}
.sc-service-item-icon{
    font-size:4.5rem;
    margin:0 0 2rem;
}

.sc-contact{
    background: #ff0050;
    color: #fff;
}
.sc-contact a{
    color: #fff;
}
.sc-contact ul > li{
    margin: 0 0 10px;
}

footer{
    padding:20px 0;
    background: #000913;
    color: #fff;
    text-align:center;
}
footer .col{
    margin:0 0 10px;
}
.sc-footer-refs{
    display: flex;
    justify-content: center; 
}
.sc-footer-refs a{
    font-size:1.3rem;
    margin: 0 0.5rem;
}
@media (min-width: 768px){
    footer{
        padding: 50px 0;
        text-align: left;
    }
    footer .col{
        margin:0;
    }    
    .sc-footer-refs{
       justify-content: flex-start; 
    }
}